@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alex+Brush&family=Assistant&family=Cormorant+Garamond&family=Cormorant+Upright&family=Creepster&family=Great+Vibes&family=Italianno&family=Julee&family=Laila&family=Literata:opsz@7..72&family=Lora&family=Parisienne&family=Petit+Formal+Script&family=Playfair+Display&family=Pontano+Sans&family=Prata&family=Roboto+Mono&family=Rochester&family=Solitreo&family=Tangerine:wght@700&family=Taviraj&display=swap');

html, body {
    height: 100%;
}

ul, li {
    list-style: none;
}

header {
    padding: 0.5em;
    background-color: rgb(239, 129, 129);
}

body {
    background-color: rgb(253, 253, 253);
}

.main-part{    
    display: flex;
    width: 100%;
    margin: 10px 0 10px 0;
}

h1 {
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    color: white;
}

main {
    width: 80%;
}

aside {
    order: 2;
    padding: 1em;
    margin: 0 15px 0 15px;
    width: 30%;
}

aside h2 {
    font-family: 'Laila', sans-serif;
    font-size: 40px;
    text-align: center;
    width: 100%;
}

.desc {
    padding: 5px;
}

.desc p {
    font-family: 'Assistant', sans-serif;
}

#storyOutput {
    background-color: rgba(207, 207, 207, 0.683);
    text-align: center;
    font-size: 30px;
    font-family: 'Assistant', sans-serif;
    padding: 2em;
}

#asideButtons {
    text-align: center;
}

#asideButtons button {
    margin: 5px;
}

#columns-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 0 5px 0 5px;
}

.columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 15px rgb(144, 144, 144);
    margin: 10px;
    padding: 1em;
}

#column1 {
    background-color: #f0defd
}

#column2 {
    background-color: #def3fd
}

#column3 {
    background-color: #defde0
}

#column4 {
    background-color: #fcf7de
}

#column5 {
    background-color: #fddfdf
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#btn1, #btn2, #btn3, #btn4, #btn5 {
    margin-bottom: 10px;
}

img {
    width: 25%;
}

.item-container figcaption {
    font-family: 'Assistant', sans-serif;
    padding: 2px;
    text-align: center;
}

button {
    width: 100px;
}

.result {
    border-bottom: 2px solid black;
    width: fit-content;
    margin: 2em;
}

/* Footer */

footer {
    text-align: right;
    background-color: rgb(221, 243, 244);
    padding: 5px;
}

footer ul li {
    padding: 5px;
    font-family: 'Laila', sans-serif;
}